@model SV21T1020080.Web.Models.ProductSearchInput
@{
    ViewBag.Title = "Quản lý mặc hàng";
}
<div class="box box-primary">
    <div class="box-body">
        <form id="frmSearchInput" action="~/Product/Search" method="get">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
            <div class="from-control table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Loại hàng:</th>
                            <th>Nhà cung cấp:</th>
                            <th>Giá từ:</th>
                            <th>Đến:</th>
                            <th>Tên hàng cần tìm:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control select2" style="width:300px" name="@nameof(Model.CategoryID)">
                                    <option  selected >~Chọn loại hàng~</option>
                                    @foreach (var item in SV21T1020080.BusinessLayers.CommonDataService.ListOfCategories(out int rowcount,0,0,""))
                                    {                                      
                                        <option value="@item.CategoryID">@item.CategoryName</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select class="form-control select2" style="width:300px" name="@nameof(Model.SupplierID)">
                                    <option  selected >~Chọn nhà cung cấp~</option>
                                    @foreach (var item in SV21T1020080.BusinessLayers.CommonDataService.ListOfSupliers(out int rowcount, 0, 0, ""))
                                    {                                        
                                        <option value="@item.SupplierID">@item.SupplierName</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input class="form-control number-separator" style="width:100px;" placeholder="25,000" name="@nameof(Model.MinPrice)" value="@Model.MinPrice" />
                            </td>
                            <td>
                                <input class="form-control number-separator" style="width:100px;" placeholder="40,000" name="@nameof(Model.MaxPrice)" value="@Model.MaxPrice" />
                            </td>
                            <td>
                                <div class="input-group">
                                    <input class="form-control" placeholder="nhập mặt hàng cần tìm" name="@nameof(Model.SearchValue)" value="@Model.SearchValue"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-info"><i class="fa fa-search"></i></button>
                                        <a href="~/Product/Create" class="btn btn-primary"><i class="fa fa-plus"></i> Bổ sung</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div id="searchResult">
        </div>
    </div>
</div>

@section scripts {
        <script>
            function doSearch(page) {
                var searchCondition = $("#frmSearchInput").serializeArray();
                searchCondition.push({ name: "page", value: page });

                var action = $("#frmSearchInput").prop("action");
                var method = $("#frmSearchInput").prop("method");

                $.ajax({
                    url: action,
                    type: method,
                    data: searchCondition,
                    success: function (data) {
                        $("#searchResult").html(data);
                    }
                });
            }

            $(document).ready(function () {
                doSearch(@Model.Page);
                $("#frmSearchInput").submit(function (e) {
                    e.preventDefault();
                    doSearch(1);
                });
            });
        </script>
}